:root {
  --background-color: #090909;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: #eee;
  font-family: sans-serif;
}

.profile-card {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anthony-wandera {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -200%);
}

.card {
  max-width: 60%;
  background-color: #181818;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2rem;
  border-radius: 0.5rem;
  position: relative;
}

.contact-me {
  position: absolute;
  top: 0;
  right: -0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  gap: 0.5rem;
}

.action {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  text-decoration: none;
  padding: 0.3rem 0.6rem;
  border-radius: 0.2rem;
  height: 100%;
}

.fa-solid {
  color: #00ff95;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 70%;
  border: 0.8rem solid var(--background-color);
  transform: translateY(-50%);
  border-radius: 50%;
}

.skills {
  margin-top: -30%;
}

.skill {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  margin: 0.1rem;
  background-color: #222;
  border-radius: 5rem;
}

.skills,
.bio {
  padding: 1rem;
}

.about {
  line-height: 1.4;
  margin-bottom: 1rem;
}

.contacts {
  margin-bottom: 0.5rem;
}

.contacts td:not(:first-child) {
  padding-left: 1rem;
}

/* ***************************** */
.feature-cards {
  background-color: #060606;
  padding: 10rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
}

.feature-card {
  background-color: #101010;
  padding: 2rem;
  display: inline-block;
  border-radius: 0.5rem;
}

.feature-icon {
  font-size: 3rem;
  display: block;
  margin-bottom: 2rem;
}

.feature-title {
  margin-bottom: 1rem;
}

.feature-description {
  line-height: 1.4;
}

.write-to-me {
  grid-column: 2 /-1;
  grid-row: 2 /-1;
  background-color: red !important;
}
